<div id="map"></div>
<div class="container">
  <div className="columns">

    <div className="column">
      <!-- event is passed to function -->
      <input [(ngModel)]="search" (keyup)="searchChanged()" class="input">
    </div>

    <div [hidden]="!search.length" className="column" class="location">
      <p (click)="calcRoute(result)" *ngFor="let result of searchResults">
        {{ result.description }}
      </p>
    </div>

  </div>
</div>
