<div #map id="map"></div>

<div class="container">
  <div class="columns">

    <div class="column">


      <nav class="panel">
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input" type="text" [(ngModel)]="departure" (keyup)="searchOrigin()" (keyup)="checkPin($event)" value="{{ departure }}"
              placeholder="Para onde vamos">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div [hidden]="!departure.length || title">
          <a (click)="selectOrigin(result)" *ngFor="let result of searchResults" class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            {{ result.description }}
          </a>

          <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              Reset all filters
            </button>
          </div>

        </div>

        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input" type="text" [(ngModel)]="arrival" (keyup)="searchDestin()"
              placeholder="Para onde vamos">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div [hidden]="!arrival.length">
          <a (click)="calculateRoute(result)" *ngFor="let result of searchResults" class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            {{ result.description }}
          </a>

          <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              Reset all filters
            </button>
          </div>

        </div>
      </nav>

    </div>

  </div>
</div>
